*/cmake/CMakeFiles
*/cmake/CMakeCache.txt
*/cmake/cmake_install.cmake
*/cmake/Makefile
*/dist
c/gradient
cuda/gradient
cuda-segfault
hterra-demo/hterra-demo
nvprof
Setup.hs
terraview/terraview
web
*/hlint
*.aux
*.hp
*.prof
*.ps
*.pgm
*.pfm
*.o
*.cc.*
